/* PurchaseOrder.css */

body {
    background-color: #f7f9fc; 
    font-family: 'Roboto', sans-serif; 
  }
  

  h3 {
    text-align: center; 
    color: #3498db; 
  }

  label {
    display: block; 
    margin-top: 10px; 
    font-weight: bold; 
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%; 
    padding: 10px; 
    margin-top: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
 
  .modal {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 300px; 
    text-align: center;
  }
  

  .modal-content ul {
    list-style: none; 
    padding: 0; 
  }
  
  .modal-content li {
    padding: 10px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .modal-content li:hover {
    background-color: #f0f4f8; 
  }

  table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
  }
  
  th, td {
    padding: 12px; 
    text-align: center; 
    border: 1px solid #ddd; 
  }
  
  th {
    background-color: #3498db; 
    color: white; 
  }
  

  button {
    padding: 10px 15px; 
    margin-top: 20px; 
    background-color: #3498db; 
    color: rgb(18, 1, 1); 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #2980b9; 
  }
  
  
  .no-items-msg {
    text-align: center; 
    color: #e74c3c;
    font-weight: bold; 
  }
  
  
  .sidebar {
    background-color: #3498db; 
    color: white;
    padding: 250px; 
    width: 500px; 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); 
    transition: width 0.3s; 
  }
  
  